<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0">
	<providers>
    <add type="Telerik.Sitefinity.CognitiveServices.Providers.CustomOpenAccessLibrariesProvider, Telerik.Sitefinity.CognitiveServices" name="OpenAccessDataProvider" config:flags="1" />
    <add type="Telerik.Sitefinity.CognitiveServices.Providers.CustomOpenAccessLibrariesProvider, Telerik.Sitefinity.CognitiveServices" name="SystemLibrariesProvider" config:flags="1" />
	</providers>
</librariesConfig>