<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0" authCookieName=".SFAUTH-SitefinityWebApp" rolesCookieName=".SFROLES-SitefinityWebApp" validationKey="01384B23AF4A5E0315CD9C69670E4191A3C78D02C49CECD5E697777105E70CACE404B166FFC906F06F5C1E617F3C90EC07549BB4994E9BBA0B56BD2F00C68FC2" decryptionKey="0592DF5F6054AA0DCC1B7739CD1F63BD1B2C45B0E3AE714F112AD347855E4E27" loggingCookieName=".SFLOG-SitefinityWebApp">
	<securityTokenIssuers>
		<add key="E6CC634FB72521DA40B9FA2C8B85B624CCE9317F733FB36EC5724A5301047774" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="E6CC634FB72521DA40B9FA2C8B85B624CCE9317F733FB36EC5724A5301047774" realm="http://localhost" />
	</relyingParties>
</securityConfig>